<body>
<h2>{{utilizador?.userId}}'s Dashboard</h2>
<a type="button" onclick="alert('Com mais desenvolvimento do projeto, é suposto levar para as Listas do utilizador')">Listas</a>
<a type="button" onclick="alert('Com mais desenvolvimento do projeto, é suposto levar para a Biblioteca de Items do utilizador')">Biblioteca de Items</a>
<a type="button" onclick="alert('Com mais desenvolvimento do projeto, é suposto levar para a lista de seguidores do utilizador')">Seguidores</a>
<a type="button" onclick="alert('Com mais desenvolvimento do projeto, é suposto levar para a lista de a seguir do utilizador')">A seguir</a>
<!-- <a [routerLink]="['../wishlist']">Wishlist</a> -->

</body>
